body{
color:white; 
background: pink;
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;   
}
header{
border-bottom: solid 2px rgba(245, 6, 45, 0.925);
padding: 20px;
font-size: 32px;
}


section {
    background: rgb (163, 9, 240);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


}